<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.TopicMapper">
    <insert id="addTopic" parameterType="mallTopic" useGeneratedKeys="true" keyProperty="id">
        insert into topic(gmt_create, gmt_modified, is_deleted, pic_url_list, content)
        values (#{gmtCreate}, #{gmtModified}, #{beDeleted}, #{picUrlList}, #{content})
    </insert>
</mapper>