<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.BrandMapper">
    <resultMap id="brandMap" type="mallBrand" >
        <id property="id" column="id"/>
        <result property="beDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap id="goodsMap" type="mallGoods">
        <id property="id" column="id"/>
        <result property="beSpecial" column="is_special"/>
        <result property="beDeleted" column="is_deleted"/>
    </resultMap>

    <insert id="addBrand" parameterType="mallBrand">
        insert into brand(name,description,pic_url,gmt_create,gmt_modified,is_deleted)
        values (#{name},#{description},#{picUrl},#{gmtCreate},#{gmtModified},#{beDeleted})
    </insert>

    <update id="deleteBrandById" parameterType="Integer">
        update brand set
        is_deleted=1,
        gmt_modified=sysdate()
        where id = #{id}
    </update>

    <update id="updateBrand" parameterType="mallBrand">
        update brand
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="picUrl!=null">pic_url=#{picUrl},</if>
            gmt_modified = sysdate(),
            <if test="beDeleted!=null and beDeleted == true">is_deleted=1,</if>
            <if test="beDeleted!=null and beDeleted == false">is_deleted=0</if>
        </trim>
        WHERE id=#{id}
    </update>

    <select id="findBrandById" resultMap="brandMap" parameterType="Integer">
        select id,
            name,
            description,
            pic_url,
            gmt_create,
            gmt_modified,
            is_deleted
        from brand where id = #{id} and is_deleted = false
    </select>

    <select id="getAllBrands" resultMap="brandMap">
        select id,
            name,
            description,
            pic_url,
            gmt_create,
            gmt_modified,
            is_deleted
        from brand where is_deleted = 0
    </select>

    <select id="findAllGoodsById" resultMap="goodsMap" parameterType="Integer">
        select id,
            gmt_create,
            gmt_modified,
            name,
            goods_sn,
            short_name,
            description,
            brief,
            pic_url,
            detail,
            status,
            share_url,
            gallery,
            goods_category_id,
            brand_id,
            is_deleted,
            weight,
            volume,
            special_freight_id,
            is_special
        from goods where brand_id = #{id} and is_deleted = 0
    </select>

    <update id="setBrandIdNull" parameterType="Integer">
        update goods
        set brand_id=null,
        gmt_modified=sysdate()
        where brand_id = #{id}
    </update>

</mapper>